extends layout

block content
  br
  h2 あなたが参加予定のコースが表示されます。
  if candidates
    each c in candidates
      ul.list-group.list-group-flush
        li.list-group-item
          h3 #{c.candidate.course.courseName}
          p #{c.candidate.candidateTime}
          a(href=`/course/${c.candidate.course.courseId}/${c.candidate.candidateId}`).btn.btn-info 確認する

