* {
  box-sizing: border-box; }

.clear {
  clear: both; }

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #f4f3f4;
  color: #5b5b60; }

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

a {
  text-decoration: none; }
  a:link {
    color: #5b5b60; }
  a:visited {
    color: #a8a8ac; }
  a:hover {
    text-decoration: underline; }

header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 65px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #eee; }

.nav {
  margin: 0 auto;
  display: flex;
  line-height: 65px;
  flex-flow: wrap;
  list-style: none;
  align-items: center;
  justify-content: space-around; }

.nav-item {
  text-decoration: none;
  color: #5b5b60;
  transition: all 0.5s;
  display: block;
  flex: 0 1 auto; }
  .nav-item img {
    margin-top: 5px;
    border-radius: 50%; }

.nav-item-icon {
  text-decoration: none;
  color: #5b5b60;
  transition: all 0.5s;
  display: block;
  flex: 0 1 auto;
  display: none; }

.main {
  margin-top: 80px; }
  .main .main-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-height: 400px;
    height: 100%;
    background-color: #FFF;
    border: 1px solid #eee;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 20px; }
    .main .main-container h1 {
      font-size: 45px;
      letter-spacing: 5px; }
    .main .main-container .btn {
      padding: 8px 24px;
      color: white;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      text-align: center;
      background-color: #405f9e;
      width: 35%;
      margin: 0 auto; }
      .main .main-container .btn:hover {
        opacity: 1; }

.course {
  margin-top: 20px; }
  .course .course-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 40px; }
    .course .course-container .card {
      flex: 0 1 350px;
      padding: 15px;
      background: #FFF;
      border: 1px solid #eee;
      margin: 5px 5px;
      border-radius: 3px;
      display: inline-block; }
      .course .course-container .card .card-img {
        width: 320px;
        height: 192px;
        background-position: center;
        background-size: cover; }
      .course .course-container .card .card-title {
        vertical-align: middle;
        overflow: hidden; }
      .course .course-container .card .card-text {
        margin-bottom: 2px;
        color: #999;
        font-size: 11px;
        line-height: 1.4em; }
      .course .course-container .card:hover {
        background-color: #dcd8dc; }

.page {
  margin-top: 80px; }
  .page .page-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    padding: 15px; }
    .page .page-container .headline {
      border-bottom: 2px solid #eb6a7a;
      padding-bottom: 5px; }

.course-page {
  margin-top: 80px; }
  .course-page .course-page-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    padding: 15px; }
    .course-page .course-page-container .head {
      border-bottom: 2px solid #eb6a7a;
      padding-bottom: 5px; }

@media all and (max-width: 670px) {
  header {
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #eee; }
  .nav {
    margin: 0 auto;
    display: flex;
    line-height: 65px;
    flex-flow: wrap;
    list-style: none;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-end; }
  .nav-bg {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #405f9e; }
  .nav-item {
    display: none; }
  .nav-item-icon {
    text-decoration: none;
    color: #5b5b60;
    transition: all 0.5s;
    display: block;
    flex: 0 1 auto;
    display: block; }
  .fas {
    vertical-align: middle;
    margin: 10px 10px;
    font-size: 32px; }
  .open {
    display: block; }
  a {
    text-decoration: none; }
    a:link {
      color: #FFF; }
    a:visited {
      color: white; }
    a:hover {
      text-decoration: underline; }
  .main {
    margin-top: 80px; }
    .main .main-container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      text-align: left;
      align-content: flex-start;
      max-height: 400px;
      height: 100%;
      background-color: #FFF;
      border: 1px solid #eee;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      padding: 20px; }
      .main .main-container .btn {
        padding: 8px 24px;
        color: white;
        display: inline-block;
        opacity: 0.8;
        border-radius: 4px;
        text-align: center;
        background-color: #405f9e;
        width: 100%;
        margin: 0 auto; }
        .main .main-container .btn:hover {
          opacity: 1; }
  .course {
    margin-top: 20px; }
    .course .course-container {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .course .course-container .card {
        width: 350px;
        flex: 0 1 350px;
        padding: 15px;
        background: #FFF;
        border: 1px solid #eee;
        margin: 5px 5px;
        border-radius: 3px;
        display: inline-block; }
        .course .course-container .card .card-img {
          width: 320px;
          height: 192px;
          background-position: center;
          background-size: cover; }
        .course .course-container .card .card-title {
          vertical-align: middle;
          overflow: hidden; }
        .course .course-container .card .card-text {
          margin-bottom: 2px;
          color: #999;
          font-size: 11px;
          line-height: 1.4em; }
        .course .course-container .card:hover {
          background-color: #dcd8dc; } }
