* {
  box-sizing: border-box; }

.clear {
  clear: both; }

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #f4f3f4;
  color: #5b5b60; }

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

a {
  text-decoration: none; }
  a:link {
    color: #5b5b60; }
  a:visited {
    color: #a8a8ac; }
  a:hover {
    text-decoration: underline; }

header {
  height: 65px;
  width: 100%;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #eee; }
  header .nav-menu ul {
    display: none; }
  header .nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0;
    list-style-type: none; }
    header .nav ul .nav-item {
      text-decoration: none;
      line-height: 65px;
      padding: 0px 25px;
      color: #5b5b60;
      display: block;
      transition: all 0.5s; }
      header .nav ul .nav-item:hover {
        background-color: #aba3ab; }
    header .nav ul img {
      margin-top: 5px;
      border-radius: 50%; }

.main {
  margin-top: 80px; }
  .main .main-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    background-color: #FFF;
    border: 1px solid #eee; }
    .main .main-container h1 {
      font-size: 45px;
      letter-spacing: 5px; }
    .main .main-container .btn {
      padding: 8px 24px;
      color: white;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      text-align: center;
      background-color: #405f9e; }
      .main .main-container .btn:hover {
        opacity: 1; }

.course {
  margin-top: 20px;
  display: flex;
  justify-content: space-around; }
  .course .course-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px; }
    .course .course-container .card {
      padding: 15px;
      background: #FFF;
      border: 1px solid #eee;
      margin: 5px 5px;
      border-radius: 3px;
      display: inline-block; }
      .course .course-container .card .card-img {
        width: 320px;
        height: 192px;
        background-position: center;
        background-size: cover; }
      .course .course-container .card .card-title {
        vertical-align: middle;
        overflow: hidden; }
      .course .course-container .card .card-text {
        margin-bottom: 2px;
        color: #999;
        font-size: 11px;
        line-height: 1.4em; }
      .course .course-container .card:hover {
        background-color: #dcd8dc; }

.page {
  margin-top: 80px; }
  .page .page-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    padding: 15px; }
    .page .page-container .headline {
      border-bottom: 2px solid #eb6a7a;
      padding-bottom: 5px; }

.course-page {
  margin-top: 80px; }
  .course-page .course-page-container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background: #FFF;
    padding: 15px; }
    .course-page .course-page-container .head {
      border-bottom: 2px solid #eb6a7a;
      padding-bottom: 5px; }

@media all and (max-width: 670px) {
  header {
    height: 65px;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #eee; }
    header .nav {
      display: none;
      background-color: black; }
      header .nav ul {
        display: flex;
        flex-flow: column; }
      header .nav .nav-item {
        text-decoration: none;
        line-height: 65px;
        padding: 0px 25px;
        color: #5b5b60;
        display: block;
        transition: all 0.5s; }
        header .nav .nav-item:hover {
          background-color: #aba3ab; }
      header .nav img {
        margin-top: 5px;
        border-radius: 50%; }
      header .nav .menu-icon {
        line-height: 65px;
        display: block; }
    header .nav-menu ul {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      margin: 0;
      line-height: 65px;
      list-style-type: none; } }
